
  $primary-4 = #263340
  $primary-1 = #14191F
  $primary-3 = #252832
  $primary-2 = #1F262E
  $darkest = #121212
  $link = #0096D1
  $green-v1 = #EFFCF6
  $green-v2 = #C6F7E2
  $green-v3 = #8EEDC7
  $yelllow-v1 = #FFFBEA
  $yellow-v2 = #FFF3C4
  $yellow-v3 = #FCE588
  $red-v1 = #FFE3E3
  $red-v2 = #FFBDBD
  $red-v3 = #FF9B9B

// dark mode
  $overlay-dark = rgba(255, 255, 255, 0.015)
  $overlay-dark-1 = rgba(255, 255, 255, 0.03)
  $overlay-dark-2 = rgba(255, 255, 255, 0.05)
  $foreground-dark = rgba(255,255,255,0.85)

  $foreground-dark1 = #a0a4a9
  $foreground-dark2 = #8e9297
//  light mode
    $overlay = rgba(0, 10, 200, 0.005)
    $overlay-1 = rgba(0, 0, 0, 0.025)
    $overlay-2 = rgba(0, 0, 0, 0.035)
    $foreground = rgba(0,0,0, 0.9)
    $foreground-1 = #595d62
    $foreground-2 = #4e5257

    //overlays
    .bg-overlay
      background $overlay
    .bg-overlay-1
      background $overlay-1
    .bg-overlay-2
      background $overlay-2
    //  overlay dark
    .bg-overlay-dark
      background $overlay-dark
    .bg-overlay-dark-1
      background $overlay-dark-1
    .bg-overlay-dark-2
      background $overlay-dark-2
// primary 1
.text-primary-1
  color $primary-1
  // primary 2
.text-primary-2
  color $primary-2
  // primary 3
.text-primary-3
  color $primary-3
  // primary 4
.text-primary-4
  color $primary-4
  // foreground

  // link
.text-link
  color $link

.text-darkest
  color $darkest
.bg-darkest
  background $darkest

// backgrounds
.text-green-v1
  color  $green-v1
.bg-green-v1
  background  $green-v1

.text-green-v2
 color  $green-v2
.bg-green-v2
 background  $green-v2

.text-green-v3
  text  $green-v3

.bg-green-v3
  background  $green-v3

.text-yelllow-v1
  color  $yelllow-v1

.bg-yelllow-v1
  background  $yelllow-v1

.text-yellow-v2
  color  $yellow-v2

.bg-yellow-v2
 background  $yellow-v2

.text-yellow-v3
  color  $yellow-v3
.bg-yellow-v3
  background  $yellow-v3

.text-red-v1
  color  $red-v1
.bg-red-v1
  background  $red-v1

.text-red-v2
  color  $red-v2
.bg-red-v2
  background  $red-v2

.text-red-v3
  color  $red-v3
.bg-red-v3
  background  $red-v3


  //body.body--light
  //  $overlay = rgba(0, 0, 0, 0.04)
  //  $overlay-1 = rgba(0, 0, 0, 0.02)
  //  $overlay-2 = rgba(0, 0, 0, 0.01)
  //
  //
  //body.body--dark
  //  background black
  //  color $foreground-dark
  //  $overlay = #323232
  //  $overlay-1 = #343434
  //  $overlay-2 = #363434
  //
  //
.text-foreground
  color $foreground

.text-foreground-1
  color $foreground-1

.text-foreground-2
  color $foreground-2

.text-foreground-dark
  color $foreground-dark

.text-foreground-dark1
  color $foreground-dark1

.text-foreground-dark2
  color $foreground-dark2
